.square {
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative;
}

.squareContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-position: -50%;
}